@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
.query-tabs {
    position: absolute;
    top: 9.5%;
    width: 83%;
    left: 16%;
}

.date-picker {
    position: fixed;
    top: 8%;
    left: 1%;
}

.print {
    position: absolute;
    top: 20%;
    left: 2%;
}

#excel {
    position: absolute;
    top: 25%;
    left: 2%; 
}

.report-button {
    position: fixed;
    top: 20%;
    left: 5%;
}

.export-button { 
    position: fixed;
    top: 30%;
    left: 5%;
}

.total {
    position: fixed;
    top: 40%;
    left: 4%;
    font-size: 1.2vw;
}

.stats {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 65%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}



.balance {
    position: absolute;
    top: 12%;
    left: 81%;
    width: 15%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.pagination-switch {
    position: fixed;
    top: 45%;
    left: 3%;
}

.pagination-switch span {
    font-size: 1vw;
}

.stat {
    color: rgb(43, 77, 172);
    position: relative;
    display: inline-block;
    margin: 3% 10% 0 2%;
    font-size: 1.7vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

.stat-total {
    color: rgb(43, 77, 172);
    position: relative;
    display: inline-block;
    margin: 3% 10% 0 2%;
    font-size: 1.7vw;
    font-family: 'Open Sans Condensed', sans-serif;
    top: 18%;
}

.stat-date {
    position: absolute;
    top: 30%;
    font-size: .8vw;
}

.exports {
    position: absolute;
    top: 40%;
    left: 15%;
}
